<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="text-center bg-dark text-white ">
        <br> SALON PARA EVENTOS S.A <br>
        <!--Nav var responsivo-->
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/home">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Quienessomos">Quienes Somos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contactenos">Solicitudes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Salones">Servicios</a>
                            </li>
                            <li class="nav-item dropdown">

                                <a class="nav-link dropdown-toggle" href="/Salones" id="dropdown08" data-bs-toggle="dropdown"
                                    aria-expanded="false">Galeria</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdown08">
                                    <li><a class="dropdown-item" href="/Cumple">Cumpleaños</a>
                                    </li>
                                    <li><a class="dropdown-item" href="/Matri">Matrimonio</a></li>
                                    <li><a class="dropdown-item" href="/Primeracomunion">Primera
                                            Comunión</a>
                                    </li>
                                    <li><a class="dropdown-item" href="/Quince">Quinceañeros</a></li>
                                    <li><a class="dropdown-item" href="/Fiestaem">Fiesta
                                            Empresarial</a></li>
                                    <li><a class="dropdown-item" href="/Fiestain">Fiestas
                                            Infantiles</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container"></div>
        </div>
        <!--Hasta Aqui es el menu bar-->
    </div>

    <div class="text-center bg-light text-dark ">


        <span class="et_pb_image_wrap "><img src="../assets/quienessomos.jpg" class="img-fluid"></span>


        <div class="et_pb_text_inner">
            <h3>QUINCE AÑOS </h3>
        </div>
    </div>

    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">


            <div class="col-lg-8 col-sm-8 col-md-8 col-xl-8 ">

                <img src="../assets/quince-anios.jpeg " class="img-fluid">


            </div>
            <div class="col-lg-4 col-sm-4 col-md-4 col-xl-4">

                Festino tiene para la realización de sus 15 años, su salón campestre en la flora con capacidad para 250
                personas, en Dapa con la mejor vista y el mejor clima salones con capacidad para 200 y 300 personas.
                También tenemos convenios con clubes, fincas,
                salones, cerrados dentro y fuera de la ciudad, o si lo desea en su propia residencia manejamos 15 años
                tradiciones y temáticos o lo que el cliente requiera, sería para nosotros un placer atender su evento.
                solicite su cotización o la atención
                personalziada de nuestros servicios. Estamos para servirles
            </div>

        </div>
        <br>
        <br>
        <div class="container">
            <div class="text-center bg-light text-dark ">


                <div class="et_pb_text_inner">
                    <p style="text-align: center;"><strong>OFRECEMOS</strong></p>

                </div>
            </div>


            <div class="col-lg-6 col-sm-6 col-md-4 col-xl-6 ">


                <ul>

                    <li>Salón campestre festino</li>
                    <li>Sillas vestidas, forros, muselina y moños.(color a escoger)</li>
                    <li>Mesas rectangulares o redondas</li>
                    <li>Mesa de lujo para la torta rodeada de pétalos</li>
                    <li>Faldones&nbsp; y sobré manteles</li>
                    <li>Mesa de lujo para la torta</li>
                    <li>Servilleta de tela</li>
                    <li>Jefe de protocolo</li>
                    <li>Meseros</li>
                    <li>Barman</li>
                    <li>Persona de aseo, para baños</li>
                    <li>Sonido profesional con luces</li>
                    <li>Parqueadero privado</li>
                    <li>Vigilancia en la zona del parqueadero</li>
                    <li>Plato fuerte servido a la mesa dos carnes</li>
                    <li>Torta fina especial en pastillaje (negra envinada, naranja rellena de arequipe y chocolate con
                        relleno de milky wey)</li>
                    <li>Cristalería en general, plato fuerte, copas, vasos etc.</li>
                    <li>Champaña para el brindis.</li>
                    <li>Gaseosa y hielo ilimitado durante todo el evento</li>
                    <li>Decoración en rosas y follajes</li>
                    <li>Centros de mesas en flores naturales</li>
                    <li>Arreglo floral a la entrada del salón</li>
                    <li>Dos arreglos florales en cada baño</li>
                    <li>Alfombra roja a la entrada del salón</li>
                    <li>Pedestal de 15 velas, decorado con flores</li>
                    <li>Silla de quinceañera en hierro forjado decorado en flores</li>
                    <li>Decoración de copa quinceañera</li>
                    <li>Juego de pala y cuchillo decorado en flores</li>
                    <li>Cofre en madera para lluvia de sobres, con decoración en flores</li>
                    <li>Antorchas alrededor del salón(noche)</li>
                    <li>Velo decorativo dentro del salón</li>
                    <li>Juegos de forros expandes</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-md-6 col-xl-6">



        </div>


    </div>


</body>
<div class="text-center bg-dark text-white mt-2">
    <div class="row">
        <a class="text-white" href="https://getbootstrap.com/docs/5.0/getting-started/introduction/">
            <STYLE>
                A {
                    text-decoration: white;
                    text-decoration-color: green;
                }
            </STYLE>
            <h6>Powered by Bootstrap V.5</h6>
        </a>
        <div class="col-lg-4 col-sm-4 col-md-4 col-xl-4 col-xs-4 col-xxl-4">
            Derecho De Autor:
            <br>
            <a style="color:rgb(253, 252, 252);" href="http://eventosfestino.com/">
                <h6>Salon de eventos S.A</h6>

            </a>
        </div>
        <div class="col-lg-4 col-sm-4 col-md-4 col-xl-4 col-xs-4 col-xxl-4">
            Correo De Contacto:
            <br>
            <a style="color:rgb(245, 243, 243);" href="mailto:contacto@salondeeventossa.com">
                <p>contacto@salondeeventossa.com<p>
            </a>
        </div>
        <div class="col-lg-4 col-sm-4 col-md-4 col-xl-4 col-xs-4 col-xxl-4">
            Pagina De Prestacion De Diseño: <br><a style="color:rgb(248, 246, 246);"
                href="https://www.ul.edu.co/">ul.edu.co</a>
        </div>
    </div>
    <br>

    <br>
    <a style="color:white;" href="http://eventosfestino.com/"> © COPYRIGHT
        2021 ©</a>
</div>
</html>