<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salon Para Matrimonios</title>
</head>
<body>
    <div class="text-center bg-dark text-white ">
        <br> SALON PARA EVENTOS S.A <br>
        <!--Nav var responsivo-->
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/home">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Quienessomos">Quienes Somos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contactenos">Solicitudes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Salones">Servicios</a>
                            </li>
                            <li class="nav-item dropdown">

                                <a class="nav-link dropdown-toggle" href="/Salones" id="dropdown08" data-bs-toggle="dropdown"
                                    aria-expanded="false">Galeria</a>
                                <ul class="dropdown-menu" aria-labelledby="dropdown08">
                                    <li><a class="dropdown-item" href="/Cumple">Cumpleaños</a>
                                    </li>
                                    <li><a class="dropdown-item" href="/Matri">Matrimonio</a></li>
                                    <li><a class="dropdown-item" href="/Primeracomunion">Primera
                                            Comunión</a>
                                    </li>
                                    <li><a class="dropdown-item" href="/Quince">Quinceañeros</a></li>
                                    <li><a class="dropdown-item" href="/Fiestaem">Fiesta
                                            Empresarial</a></li>
                                    <li><a class="dropdown-item" href="/Fiestain">Fiestas
                                            Infantiles</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container"></div>
        </div>
        <!--Hasta Aqui es el menu bar-->
    </div>

    <div class="text-center bg-light text-dark ">


        <span class="et_pb_image_wrap "><img
                src="../assets/quienessomos.jpg"
                class="img-fluid">
        </span>
        <div class="et_pb_text_inner mt-5">
            <h3>MATRIMONIO</h3>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-md-6 col-xl-6 ">
                <img src="../assets/matrimonio2.jpeg" class="img-fluid">
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6 col-xl-6">

                Festino le ofrece asesoria general en la ejecucion de su evento, tenemos dos amplios salones, en la flora con capacidad para 250 personas y en Dapa con la mejor vista de Cali, salon con capacidad para 300 personas. O tambien atendemos su evento a domicilio
                en cualquier lugar del valle, solicite ya su cotizacion para tener el gusto de atender tan importante evento.

            </div>

        </div>
        <br>
        <br>
        <div class="container">
            <div class="text-center bg-light text-dark ">


                <div class="et_pb_text_inner">
                    <h4>OFRECEMOS</h4>
                </div>
            </div>


            <div class="col-lg-6 col-sm-6 col-md-4 col-xl-6 ">


                <ul>
                    <li>Salón campestre festino rodeado de palmas</li>
                    <li>&nbsp;Sillas vestidas, forros, muselina y moños.(color a escoger) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    </li>
                    <li>&nbsp;Mesas rectangulares o redondas&nbsp;&nbsp; &nbsp;</li>
                    <li>Faldones&nbsp; y sobré manteles de lujo&nbsp;</li>
                    <li>Servilleta de tela</li>
                    <li>Jefe de protocolo</li>
                    <li>Meseros</li>
                    <li>Barman</li>
                    <li>Persona de aseo, para baños</li>
                    <li>Sonido Amplificado con luces y DJ</li>
                    <li>Parqueadero privado</li>
                    <li>Vigilancia en la zona del parqueadero</li>
                    <li>Plato fuerte de dos carnes servido a la mesa</li>
                    <li>Plato base de lujo&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </li>
                    <li>Cristalería en general, plato fuerte, copas, vasos etc.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </li>
                    <li>Copa de champaña y champaña para el brindis.</li>
                    <li>Gaseosa y hielo ilimitado durante todo el evento</li>
                    <li>Torta fina especial en pastillaje (negra envinada, naranja rellena de arequipe y chocolate con relleno de milky wey)</li>
                    <li>Decoración en rosas y follajes</li>
                    <li>Centros de mesas en flores naturales</li>
                    <li>Arreglo floral a la entrada del salón</li>
                    <li>Decoración de copas</li>
                    <li>Juego de pala y cuchillo decorado</li>
                    <li>Decoración vehículo novia, ramo de novia y gallardete novio</li>
                    <li>Cofre en madera para lluvia de sobres</li>
                    <li>Arreglo floral en baños de mujer y baño de hombre</li>
                    <li>Alfombra roja a la entrada del salón</li>
                    <li>Antorchas alrededor del salón(noche)</li>
                    <li>Velo decorativo</li>
                    <li>Juegos de forros expandes blancos alrededor del salón</li>
                </ul>

            </div>
            <div class="col-lg-6 col-sm-6 col-md-6 col-xl-6">

            </div>
        </div>
    </div>
</body>
<div class="text-center bg-dark text-white mt-2">
    <div class="row">
        <a class="text-white" href="https://getbootstrap.com/docs/5.0/getting-started/introduction/">
            <STYLE>
                A {
                    text-decoration: white;
                    text-decoration-color: green;
                }
            </STYLE>
            <h6>Powered by Bootstrap V.5</h6>
        </a>
        <div class="col-lg-4 col-sm-4 col-md-4 col-xl-4 col-xs-4 col-xxl-4">
            Derecho De Autor:
            <br>
            <a style="color:rgb(253, 252, 252);" href="http://eventosfestino.com/">
                <h6>Salon de eventos S.A</h6>

            </a>
        </div>
        <div class="col-lg-4 col-sm-4 col-md-4 col-xl-4 col-xs-4 col-xxl-4">
            Correo De Contacto:
            <br>
            <a style="color:rgb(245, 243, 243);" href="mailto:contacto@salondeeventossa.com">
                <p>contacto@salondeeventossa.com<p>
            </a>
        </div>
        <div class="col-lg-4 col-sm-4 col-md-4 col-xl-4 col-xs-4 col-xxl-4">
            Pagina De Prestacion De Diseño: <br><a style="color:rgb(248, 246, 246);"
                href="https://www.ul.edu.co/">ul.edu.co</a>
        </div>
    </div>
    <br>

    <br>
    <a style="color:white;" href="http://eventosfestino.com/"> © COPYRIGHT
        2021 ©</a>
</div>
</html>